export HATCHECK_DATA=./objects
export HATCHECK_META=./metadata
export HATCHECK_UI=./ui
# generate using: openssl rand -hex 32
export HATCHECK_SIGNING_KEY=
#generate using: openssl rand -hex 32
export HATCHECK_BOOTSTRAP_TOKEN=
export STYTCH_PROJECT_ID=project-test-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
export STYTCH_SECRET=secret-test-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx   
export STYTCH_REDIRECT_URL=http://localhost:8090/auth/authenticate